.navbar-container {
    position: fixed;
    width: 1000px;
    height: 130px;
    display: flex;
    z-index: 100;

    .container {
        width: 100%;
        margin: 30px auto 0 auto;
    }

    .center-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
    }

    .header-bar {
        width: 100%;
        background-color: #1f1f1f;
    }

    .header-top {
        width: 100%;
        height: 70px;
        background-color: #1f1f1f;

        .header-top-wrapper {
            width: 95%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .nav-items {
            width: 100%;
            margin: 0 auto;
        }

        .search-button {
            margin: 14px 10px;
            cursor: pointer;
            position: absolute;
        }

        .nav-search {
            width: 200px;
        }

        .searchbar {
            height: 60%;
            border-radius: 8px;
            border: none;
            width: 200px;
            padding: 6px 8px 6px 40px;
            font-size: 17px;
            margin-top: 4px;
        }
    }

    .header-bottom {
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);

        .header-bottom-wrapper {
            width: 95%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .sub-items {
            display: flex;
        }

    }
}

.flex-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}