* {
  margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #465869;
  border-radius: 10px;
}