.container {
    width: 90%;
    margin: 30px auto 0 auto;
}

.center-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
}

.side-bar {
    width: 100%;
    height: 100%;
    background-color: #051E34;
}

.side-bar-top {
    width: 100%;
    height: 70px;
    position: relative;

    .nav-logo {
        position: absolute;
        top: 50%;
        padding-left: 20px;
        transform: translateY(-50%);
    }
}

.side-bar-middle {
    width: 100%;
    height: 60px;
    border-top: 1px solid #1c3144;
    border-bottom: 1px solid #1c3144;
    position: relative;
    cursor: pointer;

    .pad-left {
        padding-left: 20px;
    }
    
}

.side-bar-bottom {
    width: 100%;
    height: 87%;
}
    
.flex-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.channel-heading {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px 0;
}

.channel-gear {
    margin: 24px 14px;
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
}

.channel-gear:hover {
    filter: brightness(1.3);
    cursor: pointer;
    transform: scale(1.5);
}

.blob {
    background: rgb(194, 20, 20);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    margin: 20px;
    box-shadow: 0 0 0 rgb(194, 20, 20);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(194, 20, 20, 0);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(194, 20, 20, 0.2);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(194, 20, 20);
    }
}